.add-post {
  max-width: 420px;
  margin: auto;
}

.upload-box {
  border: 2px dashed #444;
  padding: 40px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
}

.post-preview {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 12px;
}

.add-post textarea {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  margin-top: 10px;
  resize: none;
}

.add-post button {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  background: #4f46e5;
  color: white;
  font-weight: 600;
}
